In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import RandomizedSearchCV, train_test_split, StratifiedKFold
from scipy.stats import randint

In [2]:
train = pd.read_csv("Train_features.csv")
train

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,has_children,...,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp
0,No Urgent Place,Friend(s),Sunny,80,6PM,Restaurant(<20),2h,Male,26,0,...,never,NaN,less1,less1,less1,1,1,0,0,1
1,No Urgent Place,Friend(s),Sunny,55,2PM,Carry out & Take away,1d,Male,26,0,...,never,NaN,less1,less1,less1,1,1,0,0,1
2,No Urgent Place,Partner,Sunny,80,10AM,Coffee House,2h,Male,26,0,...,never,NaN,less1,less1,less1,1,0,0,0,1
3,No Urgent Place,Partner,Sunny,80,10AM,Restaurant(20-50),1d,Male,26,0,...,never,NaN,less1,less1,less1,1,0,0,0,1
4,No Urgent Place,Partner,Sunny,80,10AM,Bar,2h,Male,26,0,...,never,NaN,less1,less1,less1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12179,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,0,...,never,never,1~3,4~8,1~3,1,0,0,1,0
12180,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,0,...,never,never,1~3,4~8,1~3,1,0,0,0,1
12181,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,0,...,never,never,1~3,4~8,1~3,1,0,0,1,0
12182,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,0,...,never,never,1~3,4~8,1~3,1,1,1,0,1
12183,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,0,...,never,never,1~3,4~8,1~3,1,0,0,1,0

In [3]:
test = pd.read_csv("Test_features.csv")
test

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,has_children,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,occupation,maritalStatus
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,1,...,NaN,4~8,1~3,1,0,0,0,1,Unemployed,Unmarried partner
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,1,...,NaN,4~8,1~3,1,0,0,0,1,Unemployed,Unmarried partner
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,1,...,NaN,4~8,1~3,1,1,0,0,1,Unemployed,Unmarried partner
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,1,...,NaN,4~8,1~3,1,1,0,0,1,Unemployed,Unmarried partner
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,1,...,NaN,4~8,1~3,1,1,0,0,1,Unemployed,Unmarried partner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Male,26,0,...,less1,less1,less1,1,0,0,0,1,Community & Social Services,Unmarried partner
496,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Male,26,0,...,less1,less1,less1,1,0,0,0,1,Community & Social Services,Unmarried partner
497,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Male,26,0,...,less1,less1,less1,1,1,0,0,1,Community & Social Services,Unmarried partner
498,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Male,26,0,...,less1,less1,less1,1,1,0,0,1,Community & Social Services,Unmarried partner
499,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Male,26,0,...,less1,less1,less1,1,1,0,0,1,Community & Social Services,Unmarried partner

In [4]:
train_label = pd.read_csv("Train_labels.csv")
train_label

                        occupation      maritalStatus  Unnamed: 2  Y
0      Community & Social Services  Unmarried partner         NaN  1
1      Community & Social Services  Unmarried partner         NaN  1
2      Community & Social Services  Unmarried partner         NaN  0
3      Community & Social Services  Unmarried partner         NaN  1
4      Community & Social Services  Unmarried partner         NaN  0
...                            ...                ...         ... ..
12179              Sales & Related             Single         NaN  1
12180              Sales & Related             Single         NaN  1
12181              Sales & Related             Single         NaN  0
12182              Sales & Related             Single         NaN  0
12183              Sales & Related             Single         NaN  0

[12184 rows x 4 columns]

In [5]:
train['occupation'] = train_label['occupation']
train['maritalStatus'] = train_label['maritalStatus']

In [6]:
train.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
has_children                0
education                   0
income                      0
car                     12076
Bar                       107
CoffeeHouse               212
CarryAway                 129
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
occupation                  0
maritalStatus               0
dtype: int64

In [7]:
def preprocess_data(df):
    df['car'].fillna('unknown', inplace=True)
    df['Bar'].fillna(df['Bar'].mode()[0], inplace=True)
    df['CoffeeHouse'].fillna(df['CoffeeHouse'].mode()[0], inplace=True)
    df['CarryAway'].fillna(df['CarryAway'].mode()[0], inplace=True)
    df['RestaurantLessThan20'].fillna(df['RestaurantLessThan20'].mode()[0], inplace=True)
    df['Restaurant20To50'].fillna(df['Restaurant20To50'].mode()[0], inplace=True)
    return df

train_data = preprocess_data(train)
test_data = preprocess_data(test)

categorical_cols = ['destination', 'passanger', 'weather', 'time', 'coupon', 'expiration',
                        'gender', 'age', 'has_children', 'education', 'income', 'car', 'occupation', 'maritalStatus']

for col in categorical_cols:
    le = LabelEncoder()
    train_data[col] = le.fit_transform(train_data[col])
    test_data[col] = le.fit_transform(test_data[col])

In [13]:
x = train_data[categorical_cols]
y = train_label["Y"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=6)

In [14]:
model = RandomForestClassifier(n_estimators=200, random_state=6)
model.fit(x_train, y_train)
predict = model.predict(x_test)
accuracy_score(y_test, predict) * 100

71.85063602790316

In [10]:
# sub_predict = model.predict(test[categorical_cols])

In [11]:
# submission_df = pd.DataFrame({
#     'Id': range(1, len(sub_predict) + 1), 
#     'Y': sub_predict
# })

In [12]:
# submission_df.to_csv('submission.csv', index=False)